@page
@model CampingMaster.Pages.LogoutModel
@{
    Layout = "_Layout";
}

<form method="post" id="logoutForm"></form>
<script>
  // Auto-submit to invoke POST
  document.getElementById('logoutForm').submit();
</script>
